<div class="card mb-4">
  <h5 class="card-header"><span appHighlight>Post</span></h5>
  <div class="card-body">
    <h5 class="card-title">
      "Dolor velit sint tempor culpa cupidatat ipsum do ad tempor eiusmod."
    </h5>
    <p class="card-text">
      "Sit minim deserunt enim enim nisi. Eiusmod incididunt dolore et ea anim.
      Non exercitation id voluptate et velit quis anim officia fugiat esse
      laborum nisi fugiat non."
    </p>
    <p class="author">"marcoss"</p>
    <p class="type">"news"</p>
    <ng-content></ng-content>
  </div>
</div>
<div class="card mb-4">
  <h5 class="card-header"><span appHighlight>Post</span></h5>
  <div class="card-body">
    <h5 class="card-title">
      "Dolor velit sint tempor culpa cupidatat ipsum do ad tempor eiusmod."
    </h5>
    <p class="card-text">
      "Sit minim deserunt enim enim nisi. Eiusmod incididunt dolore et ea anim.
      Non exercitation id voluptate et velit quis anim officia fugiat esse
      laborum nisi fugiat non."
    </p>
    <p class="author">"Lusa"</p>
    <p class="type">"education"</p>
    <ng-content></ng-content>
  </div>
</div>

<div class="card mb-4">
  <h5 class="card-header"><span appHighlight>Post</span></h5>
  <div class="card-body">
    <h5 class="card-title">
      "Dolor velit sint tempor culpa cupidatat ipsum do ad tempor eiusmod."
    </h5>
    <p class="card-text">
      "Sit minim deserunt enim enim nisi. Eiusmod incididunt dolore et ea anim.
      Non exercitation id voluptate et velit quis anim officia fugiat esse
      laborum nisi fugiat non."
    </p>
    <p class="author">"Carlo"</p>
    <p class="type">"politic"</p>
    <ng-content></ng-content>
  </div>
</div>

<div class="card mb-4">
  <h5 class="card-header"><span appHighlight>Post</span></h5>
  <div class="card-body">
    <h5 class="card-title">
      "Dolor velit sint tempor culpa cupidatat ipsum do ad tempor eiusmod."
    </h5>
    <p class="card-text">
      "Sit minim deserunt enim enim nisi. Eiusmod incididunt dolore et ea anim.
      Non exercitation id voluptate et velit quis anim officia fugiat esse
      laborum nisi fugiat non."
    </p>
    <p class="author">"Mario"</p>
    <p class="type">"news"</p>
    <ng-content></ng-content>
  </div>
</div>
